<div id="top"></div>
<div id="bottom"></div>
<form (submit)="onSubmit()" *ngIf='!submitted.submit'>
  <label>
    <span>Name</span>
    <input name="cardholder-name" class="field" placeholder="Jane Doe" />
  </label>
  <label>
    <span>Phone</span>
    <input class="field" placeholder="(123) 456-7890" type="tel" />
  </label>
  <label>
    <span>ZIP code</span>
    <input name="address-zip" class="field" placeholder="94110" />
  </label>
  <label>
    <span>Amount</span>
    <input type="number" name="amount" class="field" placeholder="Payment in USD" 
    [(ngModel)] = 'charge.amount'
    />
  </label>
  <label>
    <span>Card</span>
    <div id="card-element" class="field"></div>
  </label>
  <button type="submit">Pay ${{charge.amount}}</button>
  <div class="outcome">
    <div class="error" role="alert"></div>
    <div class="success">
      Success! Your Stripe token is <span class="token"></span>
    </div>
  </div>
</form>

<h2 *ngIf='submitted.submit' style="text-align: center; margin-top: 20%;">Thank you for your payment of: ${{charge.amount}}</h2>
<script type="text/javascript">
    
    
</script>